{% import "_includes/forms" as forms %}

{% macro configWarning(setting) -%}
    {% set setting = '<code>'~setting~'</code>' %}
    {{ "This is being overridden by the {setting} config setting in your {file} config file."|t('cookiebot', {
        setting: setting,
        file: 'cookiebot.php'
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{{ forms.textField({
    label: "Domain Group ID"|t,
    id: 'domainGroupID',
    name: 'domainGroupID',
    instructions: "Can be found by accessing {url} in \"Your scripts\" tab."|t({url: 'https://manage.cookiebot.com/en/manage'}),
    value: settings.domainGroupID,
    disabled: 'domainGroupID' in overrides,
    warning: 'domainGroupID' in overrides ? configWarning('domainGroupID'),
    errors: settings.getErrors('domainGroupID')
}) }}

{{ forms.lightswitchField({
    label: "Auto Blocking Mode"|t,
    on: settings.autoBlockingMode,
    toggle: true,
    id: 'autoBlockingMode',
    name: 'autoBlockingMode',
    disabled: 'autoBlockingMode' in overrides,
    warning: 'autoBlockingMode' in overrides ? configWarning('autoBlockingMode'),
    errors: settings.getErrors('autoBlockingMode')
}) }}

{{ forms.lightswitchField({
    label: "Use .eu TLD instead of .com for loading cookiebot"|t,
    on: settings.europeanCDN,
    toggle: true,
    id: 'europeanCDN',
    name: 'europeanCDN',
    disabled: 'europeanCDN' in overrides,
    warning: 'europeanCDN' in overrides ? configWarning('europeanCDN'),
    errors: settings.getErrors('europeanCDN')
}) }}

<hr>
<div class="field" id="settings-prependSender-field">
    <div class="heading">
        <label id="settings-checkboxes-default-mode-label">{{ 'Checkboxes default mode'|t }}</label>
        <div class="instructions">
            <p>{{ "Can be found by accessing {url} in \"Dialog\" tab."|t({url: 'https://manage.cookiebot.com/en/manage'}) }}</p>
        </div>
    </div>
</div>

{{ forms.lightswitchField({
    label: "Preferences"|t,
    on: settings.defaultPreferences,
    toggle: true,
    id: 'defaultPreferences',
    name: 'defaultPreferences',
    disabled: 'defaultPreferences' in overrides,
    warning: 'defaultPreferences' in overrides ? configWarning('defaultPreferences'),
    errors: settings.getErrors('defaultPreferences')
}) }}

{{ forms.lightswitchField({
    label: "Statistics"|t,
    on: settings.defaultStatistics,
    toggle: true,
    id: 'defaultStatistics',
    name: 'defaultStatistics',
    disabled: 'defaultStatistics' in overrides,
    warning: 'defaultStatistics' in overrides ? configWarning('defaultStatistics'),
    errors: settings.getErrors('defaultStatistics')
}) }}

{{ forms.lightswitchField({
    label: "Marketing"|t,
    on: settings.defaultMarketing,
    toggle: true,
    id: 'defaultMarketing',
    name: 'defaultMarketing',
    disabled: 'defaultMarketing' in overrides,
    warning: 'defaultMarketing' in overrides ? configWarning('defaultMarketing'),
    errors: settings.getErrors('defaultMarketing')
}) }}